.blog-area-wrapper .single-boo-blog-wrapper {
  flex-basis: calc(calc(100% / 3) - 24px);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--e-global-color-3335742);
  justify-content: space-between;
}

.boo-postbox-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.blog-area-wrapper .single-boo-blog-wrapper img {
  height: 220px;
  object-fit: cover;
}

.blog-area-wrapper .single-boo-details {
  padding: 16px;
}

.boo-postbox-wrapper .single-boo-blog-details {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
}

.boo-postbox-wrapper.blog-featured-posts .single-boo-blog-wrapper:nth-child(1) {
  flex-basis: calc(calc(100% - calc(100% / 3)) - 12px);
}
