.container {
	max-width: 1380px !important;
}
img {
	max-width: 100%;
}
body {
	font-family: 'Inter', serif;
}
*,
ul {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}
/* Start Top Bar CSS */
.top-bar-area-wrapper .top-bar-right .top-bar-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	column-gap: 32px;
}

.top-bar-area-wrapper {
	background: var(--e-global-color-813ac8f);
	padding: 12px 0;
	font-family: var(--e-global-typography-f8d5dc6-font-family), Sans-serif;
	font-size: var(--e-global-typography-f8d5dc6-font-size);
	font-weight: var(--e-global-typography-f8d5dc6-font-weight);
	text-transform: var(--e-global-typography-f8d5dc6-text-transform);
	font-style: var(--e-global-typography-f8d5dc6-font-style);
	line-height: var(--e-global-typography-f8d5dc6-line-height);
}

.top-bar-area-wrapper .top-bar-left {
	column-gap: 24px;
}
.top-bar-area-wrapper .top-bar-left .boo-topbar-page-active {
	position: relative;
	z-index: 2;
}

.top-bar-area-wrapper .top-bar-left .boo-topbar-page-active:after {
	content: '';
	position: absolute;
	left: -3px;
	bottom: -12px;
	width: calc(100% + 5px);
	height: 6px;
	background: var(--e-global-color-primary);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* Start Header CSS */

.header-area-wrapper {
	background: rgba(255, 247, 243, 1);
	padding: 8px 0;
}

.header-area-wrapper ul {
	margin: 0px;
	padding: 0;
	list-style: none;
	column-gap: 32px;
}

.header-area-wrapper .boo-site-logo img {
	max-width: 140px;
}

.header-area-wrapper ul li a {
	color: var(--e-global-color-2708c15);
	font-family: var(--e-global-typography-ba7fb00-font-family), Sans-serif;
	font-size: var(--e-global-typography-ba7fb00-font-size);
	font-weight: var(--e-global-typography-ba7fb00-font-weight);
	text-transform: var(--e-global-typography-ba7fb00-text-transform);
	font-style: var(--e-global-typography-ba7fb00-font-style);
	line-height: var(--e-global-typography-ba7fb00-line-height);
}
